# ignore build output directory
libreplan-webapp/target
libreplan-business/target
libreplan-gantt-zk/target
ganttzk-demo-webapp/target
ganttzk/target

# ignore eclipse configuration files
.classpath
.project
.settings/

#ignore patches files
*.patch

#ignore logs
libreplan-webapp/*.log
libreplan-webapp/*.log.????-??-??

#ignore backup files
*~
\#*\#
