<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Pattern to output the caller's file name and line number -->
      <param name="ConversionPattern" value="%-5p [%d{dd-MMMM HH:mm:ss}] [%t] %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="rolling" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${navalplan-log-directory}navalplan.log" />
    <param name="datePattern" value="'.'yyyy-MM-dd" /> <!-- Rollover each midnight -->

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MMMM HH:mm:ss}] [%t] %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="rolling-errors" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${navalplan-log-directory}navalplan-error.log" />
    <param name="datePattern" value="'.'yyyy-MM-dd" /> <!-- Rollover each midnight -->

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MMMM HH:mm:ss}] [%t] %c %x - %m%n" />
    </layout>

    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="ERROR" />
    </filter>
  </appender>

  <appender name="rolling-profiling" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${navalplan-log-directory}navalplan-profile.log" />
    <param name="datePattern" value="'.'yyyy-MM-dd" /> <!-- Rollover each midnight -->

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MMMM HH:mm:ss}] [%t] %c %x - %m%n" />
    </layout>

    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="levelMin" value="INFO" />
    </filter>
  </appender>

  <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000" />
    <appender-ref ref="console" />
    <appender-ref ref="rolling" />
    <appender-ref ref="rolling-errors" />
  </appender>

  <appender name="ASYNC-profiling" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000" />
    <appender-ref ref="rolling-profiling" />
    <appender-ref ref="console" />
  </appender>

  <logger name="profiling" additivity="false">
    <level value="info" />
    <appender-ref ref="ASYNC-profiling" />
   </logger>

  <appender name="logins" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${navalplan-log-directory}navalplan-logins.log" />
    <param name="datePattern" value="'.'yyyy-MM-dd" /> <!-- Rollover each midnight -->

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p [%d{dd-MMMM HH:mm:ss}] [%t] %c %x - %m%n" />
    </layout>
  </appender>

  <appender name="ASYNC-logins" class="org.apache.log4j.AsyncAppender">
    <param name="BufferSize" value="1000" />
    <appender-ref ref="logins" />
  </appender>

  <logger name="org.navalplanner.web.users.services.AuthenticationProviderLoggingDecorator"
          additivity="true">
    <level value="info" />
    <appender-ref ref="ASYNC-logins" />
  </logger>

  <root>
    <priority value="info" />
    <appender-ref ref="ASYNC" />
  </root>
</log4j:configuration>
