
.perspective.filming-progress .z-button-cm,
.perspective-active.filming-progress .z-button-cm {
    background-image: url(../img/ico_filming-progress.png);
}

.perspective.budget .z-button-cm,
.perspective-active.budget .z-button-cm {
    background-image: url(../img/ico_advanced-allocation.png);
}

.reported-hours, .show-advances {
    display: none;
}

.row .taskcontainer_completion {
    margin-top: -10px;
}

.row .completionMoneyCostBar {
    height: 4px;
    background-color: orange;
    margin-top: 3px;
}

.toolbar-box .reported-hours,
.toolbar-box .show-advances,
.toolbar-box .show-resources {
    display: none;
}

.orderTree .z-treerow input.budgetline-total {
    opacity: 1;
    font-weight: bold;
    background: #7EAAC6;
    border-right: 1px dotted #7EAAC6;
    display: inline;
    color: white !important;
}


.orderTree input.z-intbox-disd[value="0"] {
    background: #FFF;
    border-left-color: transparent;
    display:none;
    opacity: 0.2;
    color: #CCC !important;
}

 .z-combobox .z-combobox-btn {
    heigth: 24px;
 }

body .advancedallocationlayout .taskspanelgap tr.z-grid-odd td.z-row-inner,
body tr.z-grid-odd,
body .advancedallocationlayout .taskspanelgap tr.z-row {
    background: #F0FAFF;
    border-bottom: solid 1px #71b1c5;
}

tr.z-grid-odd .z-cell,
.advancedallocationlayout tr.z-row .task-name {
    border-bottom: solid 1px #71b1c5;
}

.unmodifiable-hours.totals-row {
    font-weight: bold;
}

.advancedallocationlayout .taskspanelgap td.z-row-inner input {
    padding-top: 3px;
}

.advancedassignmentdetails .z-columns {
    display: none;
}

.advancedassignmentdetails div.z-grid-header th.z-auxheader {
    padding-top: 0;
    padding-bottom: 0;
    /* border-bottom: 0; */
    border-top:0;
}

.advancedallocationlayout .advancedassignmentdetails .leftpanelgap .z-grid-header {
    border-top: 0;
/*    border-bottom: solid 1px #9ECAD8; */
    border-bottom: 0;
}

.advancedallocationlayout .advancedassignmentdetails {
    border-top: 0;
}

.planned-deviation {
    color: #A00;
}

.advancedallocationlayout .advanced-assignment-area .unmodifiable-hours.positive,
.advancedallocationlayout .z-grid-odd .unmodifiable-hours.z-label {
    color: #080;
}

.advancedallocationlayout .advanced-assignment-area td .z-textbox {
    background: #3C90BE;
    color: #fff;
}

.advancedallocationlayout .timeTrackedTableWithLeftPane .z-grid-body .z-row-inner {
        background: #fff;
}

.advancedallocationlayout .advanced-assignment-area td .z-textbox[value="0.00"]  {
    background: #FFF;
    color: #aaa;
}
.advancedallocationlayout .unmodifiable-hours.z-label {
    opacity:1;
}

.z-auxheader .z-auxheader-cnt {
    text-align: center;
}
