@charset "utf-8";
body {

}


.identificacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0081C3;
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 5px;
}

.entrar {
	color:#333333;
	font-size:12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	border: 1px solid #0081C3;
	background-color: #C2E1F3;
	width: 150px;
	background-image: url(../img/flechitas.gif);
	height: 25px;
}
.usuario_clave {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	padding-top: 5px;
	text-align: center;
}
.campotexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	padding-left: 4px;
}
.fondo_identificacion {
	background-image: url(../img/degradado_azul.gif);
	background-repeat:  repeat-x;
}
