body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.menuup {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: url(../img/pestana1.gif);
    font-size: 11px;
    color: #0081C2;
    display: block;
    padding-top: 10px;
    padding-left: 6px;
    width: 125px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: -4px 0px;
    padding-bottom: 5px;
}
a.menuup:hover {
    background-image: url(../img/pestana_sobre.gif);
}

.sub_menu {
    font-family: Tahoma, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 11px;
    color: #EDF2F7;
    text-decoration: none;
    display: block;
    line-height: 22px;
    padding-right: 3px;
    padding-left: 3px;
}
a.sub_menu:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.menuup_activa {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 11px;
    color: #FFFFFF;
    display: block;
    background-image: url(../img/pestana_activa.gif);
    width: 125px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 6px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: -4px 0px;
}
.usuario {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    text-align: right;
    padding-right: 15px;
}
.cerrar_sesion {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: underline;
    text-align: right;
    padding-right: 15px;
    color: #009900;
    display: block;
}
.ruta {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3B89B7;
    text-decoration: none;
}
.fondo_cabecera {
    background-image: url(../img/cabecera.jpg);
    background-position: right top;
    background-repeat: no-repeat;
}
.migas_linea {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #DCEEF9;
    border-bottom-color: #DCEEF9;
}
