grant codeBase "file:/var/lib/tomcat6/webapps/navalplan/-" {
	permission java.security.AllPermission;
};
grant codeBase "file:/var/lib/tomcat6/webapps/navalplan.war" {
	permission java.security.AllPermission;
};
