.dashboard-label {
    color: #666;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.dashboard-title {
    color: #666;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.dashboard-label-remarked {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard-box {
    border: solid 2px #888;
    background: #fffdf6;
    box-shadow: 2px 2px 5px #AAA;
}