/* CSS Document */
body {
	background-image: url(../img/fondo.gif);
	margin-top: 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.identificacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0081C3;
	text-decoration: none;
	padding-top: 20px;
	text-align: left;
	padding-bottom: 5px;
}

.entrar {
    cursor: pointer;
    background-color: #E4F3D9; /* green0 (normal background) */
    color: #58A758; /* green3 (text) */
    border: 1px solid #439e32; /* green4 (border) */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:15px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.entrar:hover {
    background-color: #C3EAAF; /* green1 (hover background) */
}
.entrar:active {
    background-color: #A1D586; /* green2 (active background)*/
    border-top: 2px solid #3f5917;
    border-left: 2px solid #3f5917;
}

.usuario_clave {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	padding-top: 5px;
	text-align: left;
}

.campotexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	padding-left: 4px;
}
.fondo_identificacion {
	background-image: url(../img/degradado_azul.gif);
	background-repeat:  repeat-x;
}

.authentication {
    padding-top:10px;
}

.ayuda {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #009900;
	text-decoration: none;
	padding-bottom: 5px;
	display: block;
}

a.ayuda:hover {
	text-decoration: underline;
}

.login_ERROR {
    color: #ee0000;
    border: solid 1px #ee0000;
    background-color: #eecccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    margin: 10px;
    margin-top: 30px;
    width: 300px;
}

.supported-browsers {
    color: #BBBBBB;
    font-size: 9px;
}
