
.logo {
    background-image: url("../img/v3/blue_ga.jpg");
    height:50px;
    width:300px;
    height:100px;
    float:left;
    clear:both;
    position:absolute;
}

.vision {
}

.headings {
    /* height:90px; */
    height:90px;
}

table {
    margin:0px;
    padding:0px;
    border:0px;
}

.errorbox {
    margin: 40px;
    padding: 40px;
    border: solid 1px red;
}

/* Forms */
.z-button-tl, .z-button-tm, z-button-tr,
.z-button-cl, .z-button-cr,
.z-button-bl, .z-button-bm, z-button-br {
    display:none;
}

.zk .z-button-cm, .z-button-cm {
    color:#007bbe;
    background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #007bbe;
}

.zk .z-button, .zk .z-button-br, .zk .z-button-tr {
    background-image: none;
}

.z-button-tr {
    background-image: none !important;
}

.z-button-br {
    background-image: none !important;
}

.footer {
    clear:both;
    margin:20px;
    font-size: 12px;
}


/* Styles for order element tree */
.orderTree .depth_1 input {
    width: 450px !important;
}
.orderTree .depth_2 input {
    width: 420px !important;
}
.orderTree .depth_3 input {
    width: 390px !important;
}
.orderTree .depth_4 input {
    width: 360px !important;
}
