/*
 * navalplan_zk.css NavalPlan
 *
 * This stylesheet contains declarations for ZK overriden components
 * according to the ZK Style Guides [http://www.zkoss.org/doc/styleguide]
 * to integrate the custom appearance of the web application.
 */



    /* ----- Predefined Height dependent styles ----- */
    .scheduling-graphics {
        height:200px;
    }

    .main-layout {
        height: 560px;
    }

    .taskheaders-border {
        width: 300px;
    }

.plannerlayout #watermark {
    height: 99999px !important;
}

.plannerlayout .taskspanelgap #timetracker {
    overflow-y: hidden;
}

.leftpanelcontainer {
    overflow-x: scroll;
}

body {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.logo {
    background-image: url("../img/v3/blue_ga.jpg");
    height: 50px;
    width: 300px;
    height: 100px;
    float: left;
    clear: both;
    position: absolute;
    border: 0;
}

.headings {
    height: 90px;
}

table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.errorbox {
    margin: 40px;
    padding: 40px;
    border: solid 1px red;
}

.warningbox {
    margin: 40px;
    padding: 40px;
    border: solid 1px #FDBE13;
}

/* --- START -- Buttons styles ---
=================================================== */

/* Enabled borders for standard buttons */
.z-button-tl, .z-button-tm, .z-button-tr,
.z-button-cl, .z-button-cr,
.z-button-bl, .z-button-bm, .z-button-br {
    display: none;
}

.icono .z-button-cm,
body .z-window-embedded .icono .z-button-cm,
body .z-window-modal .icono .z-button-cm,
body .advancedallocationlayout .icono .z-button-cm {
    color: #007bbe;
    background-color: transparent;
    background-image: none;
    border: 0px solid #007bbe;
    padding: 0px;
}


.z-button {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}


/* Bugfix for default clicked z-button center borders */
.z-button-clk .z-button-cr {
    background-position: -21px 0;
}
.z-button-clk .z-button-cl {
    background-position: -18px 0;
}

/* Bugfix for default clicked z-button corners */
/* 'btn-corner.gif' updated to add the 4th state */
.z-button-clk .z-button-br {
    background-position: -21px -3px;
}
.z-button-clk .z-button-tr {
    background-position: -21px 0;
}
.z-button-clk .z-button-bl {
    background-position: -18px -3px;
}
.z-button-clk .z-button-tl {
    background-position: -18px 0px;
}

/* Global custom styles
--------------------------------------------------- */

table.z-button {
    table-layout: auto;
}

button.z-button {
    position: relative;
    top: -5px;
}

/* Disable grey degradation */
.z-button .z-button-cm {
    background-image: none;
}

/*  #E4F3D9; /* green0 (normal background) */
/*  #C3EAAF; /* green1 (hover background)  */
/*  #A1D586; /* green2 (active background) */
/*  #58A758; /* green3 (text color)        */
/*  #87bd32; /* green4 (border color)      */
/*  #3F5917; /* green5 (top left shade)    */

.z-button-cm {
    background-color: #E4F3D9; /* green0 (normal background) */
    color: #58A758; /* green3 (text) */
    border: 1px solid #439e32; /* green4 (border) */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.z-button-cm:hover {
    background-color: #C3EAAF; /* green1 (hover background) */
    background-image: none;
}

.z-button table {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}
.z-button table:active {
    border-color: #3f5917;
}

.z-button-cm:active {
    background-color: #A1D586; /* green2 (active background)*/
    border-right: 0 solid #439e32;
    border-bottom: 1px solid #439e32;
    border-top: 2px solid #3f5917;
    border-left: 2px solid #3f5917;
}

.z-button.z-button-disd .z-button-cm:active {
    border: inherit;
}

.z-button.z-button-disd .z-button-cm {
    background-color: #EAEAEA;
    color: #A0A0A0;
    border-color: #A0A0A0;
}

.z-window-embedded .z-button-cm,
.z-window-modal .z-button-cm {
    padding: 2px 18px;
}

.z-window-embedded .z-button-cm:active,
.z-window-modal .z-button-cm:active {
    padding: 2px 17px 1px 18px;
}

/* Perspective and planner buttons
--------------------------------------------------- */

.planner-icon, .planner-command {
   padding: 2px;
}

.planner-icon .z-button-cm {
   padding: 2px;
}
.planner-icon .z-button-cm:active {
   padding: 2px 1px 1px 2px;
}

.planner-command .z-button-cm,
.advancedallocationlayout .z-north-body .z-button-cm {
    height: 24px;
    padding: 2px;
}
.planner-command .z-button-cm:active {
   padding: 2px 1px 1px 2px;
}

.planner-command.clicked .z-button-cm {
    background-color: #A1D586; /* green2 (active background)*/
    border-right: 0px;
    border-bottom: 1px solid #439e32;
    border-top: 2px solid #3f5917;
    border-left: 2px solid #3f5917;
    padding: 2px 1px 1px 2px;
}

.sub_menu .z-button-cm {
    background-color: transparent !important;
    border: 0px;
    color: #EDF2F7;
}

.sub_menu_active.z-button {
    color: #3b89b7;
    background-color: #FFFFFF;
    padding:2px;margin:2px;
}

.sub_menu .z-button-cm:hover {
    text-decoration: underline;
}

.sub_menu_active.z-button td,
.sub_menu.z-button td {
    background-image: none;
}

/* Global action button styles
--------------------------------------------------- */
.global-action.z-button {
    margin-top: 10px;
    font-weight: bold;
}

.global-action.z-button .z-button-cm {
    padding: 4px 25px;
    background-position: 5px;
    background-repeat: no-repeat;
    margin-right: 1px;
}

.global-action.z-button .z-button-cm:active {
    margin-right: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.save-button.z-button .z-button-cm {
    background-image: url(../img/bt_ok.png);
}

.create-button.z-button .z-button-cm {
    background-image: url(../img/bt_create.png);
}

.saveandcontinue-button.z-button .z-button-cm {
    background-image: url(../img/bt_ok_continue.png);
}

.cancel-button.z-button .z-button-cm {
    background-image: url(../img/bt_cancel.png);
}

.back-button.z-button .z-button-cm {
    background-image: url(../img/bt_back.png);
}

/* Embed tabbpanels button destyling */
.z-tabpanel .global-action.z-button .z-button-cm {
    background-image: none;
    padding: 2px 18px;
    margin-left: 5px;
}

/* --- END -- Button styles --
=================================================== */

.vertical_separator {
    width: 14px;
    height: 20px;
    margin-top: 4px;
    background-image: url("../img/sub_separacion.gif");
}

.footer {
    clear: both;
    margin: 20px;
    font-size: 12px;
}

/* ------------- order element tree  -------------  */
.orderTree input {
    height: 18px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 1px dotted #7EAAC6;
    padding-left: 2px;
    border-right: 0px;
}

.orderTree .z-datebox-inp {
    height: 20px;
}

/* Allows tasknumber span to have fixed width */
.orderTree .tasknumber {
    display: inline-block;
}

.orderTree td {
    padding: 0px !important;
}

/* These constants may be reviewed when testing with 3 digit tasknumbers */
.orderTree .depth_1 input,
.orderTree .depth_2 input,
.orderTree .depth_3 input,
.orderTree .depth_4 input,
.orderTree .depth_5 input,
.orderTree .depth_6 input
{
    border-right: 0px;
}

/* Cleaning window borders */
.z-window-embedded-tr,.z-window-embedded-tl {
    display: none;
}

.z-window-embedded-hl,.z-window-embedded-hm {
    background-image: none;
}

.z-window-embedded-hr {
    background: none;
}

.z-window-embedded-header {
    color: #009900;
    font-weight: bold;
    font-size: 1.2em;
}

.message_ERROR, .message_INFO {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 300px;
}

.message_WARNING {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 5px;
    margin: 5px;
}

.message_WARNING img, .message_ERROR img {
    display: none;
}

.message_ERROR {
    color: #ee0000;
    border: solid 1px #ee0000;
    background-color: #eecccc;
}

.message_WARNING {
    color: #CC5013;
    border: solid 1px #CC5013;
    background-color: #FDCA87;
}

.message_INFO {
    color: #006600;
    border: solid 1px #006600;
    background-color: #cceecc;
}

.message_INFO span {
    position: relative;
    top: -10px;
    left: 10px;
}

div.z-errbox {
    background-color: #EECCCC;
    color:red;
    border:solid 1px red;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.advancedallocationlayout .message_WARNING {
    padding: 3px 20px 3px 20px;
    margin: 0;
    width: auto;
}

h4.message_WARNING {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 5px;
    margin: 25px;
    font-size: 12px;
    font-weight: normal;
    width: 400px;
}


.z-window-embedded {
    margin: 10px;
    margin-top: 5px;
}

.main-area .z-center-body > .z-window-embedded {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

/* Hide inner second level embed window titles */
.z-window-embedded
.z-window-embedded
.z-window-embedded
.z-window-embedded-hl {
    display: none;
}

.subtitulo {
    color: #007bbe;
    font-weight: bold;
}

/* ------ Overridden norrmoz.css.dsp styles ------ */
.z-label,.z-radio-cnt,.z-checkbox-cnt,.z-slider-pp,input.button,input.file,.z-loading,.z-errbox,
div.z-tree-footer-cnt, div.z-tree-cell-cnt, div.z-tree-col-cnt, .z-listbox,
div.z-footer-cnt, div.z-row-cnt, div.z-group-cnt, div.z-group-foot-cnt,
div.z-column-cnt, div.z-list-footer-cnt, div.z-list-cell-cnt, .z-bandbox, .z-bandbox-inp {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.z-textbox-disd, .z-decimalbox-disd, .z-intbox-disd, .z-longbox-disd, .z-doublebox-disd,
.z-textbox-disd *, .z-decimalbox-disd *, .z-intbox-disd *, .z-longbox-disd *, .z-doublebox-disd * {
    color:#333333 !important;
}

div.z-row-cnt {
    padding:0;
}

.z-word-wrap {
    word-wrap: normal;
}

.z-word-wrap .z-auxheader-cnt {
    word-wrap: normal;
}

.z-window-embedded-tl,.z-window-highlighted-tl,.z-window-overlapped-tl,.z-window-popup-tl {
    background: none;
}

.z-window-embedded-tl {
    background-image: none;
}

.z-window-popup-tl {
    background-image: none;
}

.z-window-embedded-tr,.z-window-highlighted-tr,.z-window-overlapped-tr,.z-window-popup-tr
    {
    background: none;
}

.z-window-embedded-tr {
    background-image: none;
}

.z-window-popup-tr {
    background-image: none;
}

.z-window-embedded-hl, .z-window-highlighted-hl,
.z-window-overlapped-hl, .z-window-popup-hl {
    background: none;
}

.z-window-embedded-hl {
    background-image: none;
}

.z-window-popup-hl {
    background-image: none;
}

.z-window-embedded-hr,.z-window-highlighted-hr,
.z-window-overlapped-hr,.z-window-popup-hr {
    background: none;
}

.z-window-embedded-hr,.z-window-embedded-hr-noborder {
    background-image: none;
}

.z-window-popup-header,.z-window-highlighted-header,
.z-window-overlapped-header,.z-window-embedded-header {
    background-color: #FFFFFF;
    color: #0081C3;
    font-family: Georgia, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: normal;
    background-image: url(../img/header_bullet.gif);
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: 0px 3px;
}

.z-tabs-scroll .z-tabs-cnt {
    background: #FAFDFE none repeat scroll 0 0;
    border-bottom: 1px solid #7EAAC6;
    padding-bottom: 0;
}

.z-textbox,.z-decimalbox,.z-intbox,.z-longbox, .z-combobox-inp,
.z-doublebox, .z-datebox,  .z-datebox-inp, .z-datebox-focus .z-datebox-inp {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding-left: 2px;
}

.leftpanelgap .z-textbox,.leftpanelgap .z-decimalbox,.leftpanelgap .z-intbox,
.leftpanelgap .z-longbox,.leftpanelgap .z-doublebox,.leftpanelgap .z-datebox,
.leftpanelgap .z-datebox-inp,.leftpanelgap .z-datebox-focus .z-datebox-inp {
    font-size: 11px;
}

div.z-footer-cnt,div.z-row-cnt,div.z-group-cnt,div.z-group-foot-cnt,div.z-column-cnt,div.z-tree-col-cnt {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.z-word-wrap div.z-tree-cell-cnt,.z-word-wrap div.z-tree-footer-cnt,
.z-word-wrap div.z-tree-col-cnt {
    word-wrap: normal;
}

.z-tabs .z-tabs-cnt {
    background: none;
    border-bottom: 0px;
    border-bottom: 1px solid #7EAAC6;
}

.z-tabs-scroll {
    padding-bottom: 0px;
    background: #F2FBFF none repeat scroll 0 0;
    border: 0px solid #000000;
}

.z-tab .z-tab-text {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tab-seld .z-tab-text { /* color:#0F3B82; */
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tabpanel,.z-tabbox-ver .z-tabpanels-ver {
    padding: 5px;
    border-bottom: 1px solid #7EAAC6;
}

.message_INFO {
    background-color: #CCEECC;
    border: 1px solid #006600;
    color: #006600;
    margin: 10px;
    padding: 15px 15px 15px 50px;
    width: 300px;
}

div.z-grid {
    background: #DAE7F6 none repeat scroll 0 0;
    border: 1px solid #ABC6DE;
    overflow: hidden;
}

#timetrackerheader div.z-grid {
    border: 0;
}

#timetrackerheader th,
#timetracker th {
    border-top: 0;
}

#timetrackerheader th {
    border-top: 0;
}

#timetrackerheader .second_level_ {
    -webkit-margin-start: -1px;
}

#timetrackerheader .second_level_ td {
    border-bottom: solid 1px #9EB6CE;
}

.listdetails div {
    border: 0;
}



.z-listbox .z-textbox,.z-listbox .z-decimalbox,.z-listbox .z-intbox,
.z-listbox .z-longbox,.z-listbox .z-doublebox {
    height: 22px;
    vertical-align:center;
    border-collapse: collapse;
}

.orderTree .z-textbox,.orderTree .z-decimalbox,
.orderTree .z-intbox,.orderTree .z-longbox,
.orderTree .z-doublebox {
    height: 23px;
    width: 100%;
}

.listdetails .z-textbox, .listdetails .z-decimalbox,
.listdetails .z-intbox, .listdetails .z-longbox,
.listdetails .z-doublebox {
    height: 15px;
}
.listdetails input {
    padding-top: 6px;
}

.z-tree .z-datebox-inp {
    height:25px;
}
.orderTree .operations {
    width:80px;
}
.orderTree .name {
    min-width:120px;
}
.orderTree .hours {
    width:40px;
}
.orderTree .code {
    min-width:100px;
}
.orderTree .scheduling_state {
    min-width:160px;
}
.orderTree .estimated_init,
.orderTree .estimated_end {
    width: 100px;
}

.orderTree .tasknumber {
    display:none;
}

.orderTree div.z-tree-cell-cnt {
    padding:0px;
}

.orderTree td {
    border-bottom: 1px dotted #7EAAC6;
}

.orderTree .icono td {
    border:none;
}

.orderelements-tab .z-datebox-focus .z-datebox-inp  {
    border-top: 0px;
    border-bottom: 0px;
}

.orderelements-tab .z-datebox-focus .z-datebox-inp,
.orderelements-tab .z-datebox-inp {
    width: auto;
}

.orderelements-tab .z-datebox .z-datebox-img {
    background-color: #DAE7F6;
}

.listdetails .z-datebox-focus .z-datebox-inp  {
    border-top: 0px;
    border-bottom: 0px;
    height: 17px;
    font-size: 11px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.taskTreeCols div.z-tree-header, .taskTreeCols div.z-tree-header tr {
    overflow: visible;
}

.advance-measurement {
    width: 340px;
}

.assignedresources .icono .z-button-tr,
.assignedresources .icono td.z-button-br {
    display:none;
}

.assignedresources .z-listbox input {
    height: 17px !important;
}

/* Highlight advancedallocation grouping row */
.resourcesload .taskspanelgap .z-grid-body tr:first-child {
    background-color: #E8E8E8;
}
.resourcesload .taskspanelgap .z-grid-body tr.z-row td {
    background-color:transparent;
}

/* ------- Chart legends  ------- */
.legend {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px #000000;
    padding: 5px;
    background-color: #FFFFFF;
}

.legend-container {
    width: 226px;
    height: 190px;
    background-color: #E8E8E8;
}

.legend td {
    vertical-align:bottom;
}

.legend .title {
    display:block;
    font-weight:bold;
    margin-bottom: 5px;
}

.legend-row {
    margin:2px;
}

.legend-gap {
    background-color: #E8E8E8;
    border: 0;
}

.plannerlayout .z-west-nested {
    border-left: 0;
}

.scheduling-graphics,
.scheduling-graphics .z-tabs-ver-scroll {
    border: 0;
}
.perspectives-column {
/*    border-right: solid 1px; */
}

/* Legend colors:
    COLOR_ASSIGNED_LOAD_GLOBAL = "#98D471"; // green
    COLOR_CAPABILITY_LINE = "#000000"; // black
    COLOR_OVERLOAD_GLOBAL = "#FDBE13"; // orange

    COLOR_ASSIGNED_LOAD_GLOBAL = "#98D471"; // green
    COLOR_CAPABILITY_LINE = "#000000"; // black
    COLOR_OVERLOAD_GLOBAL = "#FDBE13"; // orange

    COLOR_ASSIGNED_LOAD_SPECIFIC = "#aa80d5"; // magenta
    COLOR_OVERLOAD_SPECIFIC = "#FF5A11"; // red
*/

.legend .capability {
    border-top:solid 2px #000000; /* COLOR_CAPABILITY_LINE */
    height:7px;
    width:25px;
    margin-right:5px;
}

.legend .load {
    background-color: #98D471; /* COLOR_ASSIGNED_LOAD_GLOBAL */
    height: 10px;
    width: 25px;
    margin-bottom: 2px;
    margin-right: 5px;
}

.legend .overload {
    background-color: #FDBE13; /* COLOR_OVERLOAD_GLOBAL */
    height:10px;
    width:25px;
    margin-right:5px;
}

.legend .overload-order {
    background-color: #FF5A11; /* COLOR_OVERLOAD_SPECIFIC */
    height:10px;
    width:25px;
    margin-right:5px;
}

.legend .overload-other {
    background-color: #FDBE13; /* COLOR_OVERLOAD_GLOBAL */
    height:10px;
    width:25px;
    margin-right:5px;
}

.legend .other {
    background-color: #AA80d5; /* COLOR_ASSIGNED_LOAD_SPECIFIC */
    height:10px;
    width:25px;
    margin-bottom:2px;
    margin-right:5px;
}

.legend .resourceload {
    height:10px;
    width:25px;
    margin-bottom:2px;
    margin-right:5px;
}

.resourcesloadlayout .legend-container {
    width:186px;
}


/* Graphical improvements */

.z-panel-header {
    background:none;
    border: 0px;
    margin:0px 0px 0 10px
}

.z-panel-body {
    background:none;
    border: 1px solid #B1CBD5;
    margin:0 10px 0px 10px;
}

.z-panel-children {
    border-style: none none none;
}

div.z-grid-pgi-b,
div.z-listbox-pgi-b {
    border-top:none;
}

.orderTree .tasknumber {
    /* Pending removal from the code */
    display:none;
}

.orderTree .not-scheduled span,
.orderTree .partially-scheduled span,
.orderTree .completely-scheduled span {
    float:left;
}

.orderTree .not-scheduled span.scheduling-state,
.orderTree .partially-scheduled span.scheduling-state,
.orderTree .completely-scheduled span.scheduling-state {
    -moz-border-radius: 1px 6px 1px 6px;
    -webkit-border-radius: 1px 6px 1px 6px;
    border: 1px solid #888888;
    color: #888888;
    font-weight: bold;
    margin: 4px 3px 2px 0;
    padding: 1px 5px;
}


.scheduling-state {
    cursor: move;
}

.orderTree .not-scheduled,
.orderTree .partially-scheduled,
.orderTree .completely-scheduled {
    border-bottom:dotted #EEEEEE 1px;
}

.partially-scheduled span.scheduling-state,
span.partially-scheduled {
    background-color: #fddf9b;
}

.completely-scheduled span.scheduling-state,
span.completely-scheduled {
    background-color: #bee5a9;
}

span.z-dottree-tee-open,
span.z-dottree-tee-close,
span.z-dottree-line {
    min-height: 28px;
}


/* --- START -- menus and toolbar --
=================================================== */

.z-menubar-hor, .z-menubar-ver {
    background: none;
}

.z-menu-body {
   background-color: #d4e1ef;
   -moz-border-radius: 10px 10px 0 0;
   -webkit-border-radius: 10px 10px 0 0;
}

.z-menu-inner-m .z-menu-btn {
   font-weight: normal;
   color: #005782;
}

.z-menu-body-over .z-menu-inner-m .z-menu-btn,
.z-menu-body-seld .z-menu-inner-m .z-menu-btn,
.current-section .z-menu-body .z-menu-inner-m .z-menu-btn {
   color: #FFFFFF;
}

.z-menu-body-over, .z-menu-body-seld, .current-section .z-menu-body {
    background-color: #2a83b4;
    font-weight: normal;
}

.z-menu-body-over .z-menu-inner-l,
.z-menu-body-over .z-menu-inner-m,
.z-menu-body-over .z-menu-inner-r {
   background-image:none;
}

.z-menu-body-seld .z-menu-inner-l,
.z-menu-body-seld .z-menu-inner-m,
.z-menu-body-seld .z-menu-inner-r {
    background-image:none;
}

.z-menu-body .z-menu-inner-m div {
    background-image:none;
}

.z-menubar-hor {
    border-bottom: 3px solid #2a83b4;
    padding: 0px;
}

.user_row .cerrar_sesion {
    display:inline;
}

.migas_linea {
    border: 0px;
}

/* ---- Perspectives ------ */
.perspective, .perspective-active {
    width: 84px;
    height: 84px;
    margin: 0 0 4px 4px;
    font-weight: normal;
    font-size: 10px;
}

.perspective .z-button-cm,
.perspective-active .z-button-cm {
    padding-top: 60px;
    background-position: 18px 10px;
    background-repeat: no-repeat;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.perspective .z-button-cm {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

.perspective-active .z-button-cm,
.perspective-active .z-button-cm:hover,
.perspective-active .z-button-cm:active,
.perspective .z-button-cm:hover,
.perspective .z-button-cm:active {
    border: 1px solid #CCCCCC;
}

.perspective-active .z-button-cm,
.perspective-active .z-button-cm:hover,
.perspective-active .z-button-cm:active,
.perspective .z-button-cm:active {
    background-color: #71B0D4;
}

.perspective .z-button-cm {
    color: #005782;
    background-repeat: no-repeat;
}

.perspective-active .z-button-cm {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #FFFFFF;
    border-color:#006699 #DFF5FE #DFF5FE #006699;
}

.perspective .z-button-cm:hover {
    background-color: #E6F2F9;
}

.perspectives-label {
    display: none;
}

.z-button.perspective .z-button-cm,
.z-button.perspective-active .z-button-cm {
    white-space:normal;
}

.perspective.company-scheduling .z-button-cm,
.perspective-active.company-scheduling  .z-button-cm {
    background-image: url(../img/ico_company-scheduling.png);
}
.perspective.company-load .z-button-cm,
.perspective-active.company-load .z-button-cm {
    background-image: url(../img/ico_company-load.png);
}
.perspective.orders .z-button-cm,
.perspective-active.orders .z-button-cm {
    background-image: url(../img/ico_orders.png);
}
.perspective.order-scheduling .z-button-cm,
.perspective-active.order-scheduling .z-button-cm {
    background-image: url(../img/ico_order-scheduling.png);
}
.perspective.order-load .z-button-cm,
.perspective-active.order-load .z-button-cm {
    background-image: url(../img/ico_order-load.png);
}
.perspective.limiting-resources .z-button-cm,
.perspective-active.limiting-resources .z-button-cm {
    background-image: url(../img/ico_limiting-resources.png);
}
.perspective.order-limiting-resources {
    display: none;
}
.perspective.order-data .z-button-cm,
.perspective-active.order-data .z-button-cm {
    background-image: url(../img/ico_order-data.png);
}
.perspective.advanced-allocation .z-button-cm,
.perspective-active.advanced-allocation .z-button-cm {
    background-image: url(../img/ico_advanced-allocation.png);
}
.perspective.montecarlo-simulation .z-button-cm,
.perspective-active.montecarlo-simulation .z-button-cm {
    background-image: url(../img/ico_montecarlo-simulation.png);
}


.perspectives-column {
    display:none;
}

/* ---- Toolbar ------ */

.toolbar-box .z-button-cm {
    height: 24px;
}

.toolbar-box .z-label {
    color:#0068B1;
    padding-left:4px;
}

.toolbar-box span.z-button {
    margin: 0 0 0 0;
}

.toolbar-box .planner-icon,
.toolbar-box  .planner-command {
   padding-top: 1px;
   padding-right: 1px;
}

.toolbar-box .z-button-cm  {
    background-color: transparent;
    border-color:transparent;
}

.toolbar-box .z-button-cm:hover  {
    background-color: #E6F2F9;
    border-color:#006699 #DFF5FE #DFF5FE #006699;
}

.toolbar-box .z-button.z-button-disd .z-button-cm {
    background-color: transparent;
    border-color: transparent;
}

.toolbar-box {
    background:transparent url(../img/toolbar-hm.png) repeat-x scroll 0 0;
    border-bottom:1px solid #9ECAD8;
    font-size:11px;
}

.toolbar-box table.z-button-disd:active  {
    margin-top: 1px;
    margin-right: 1px;
    border-top: 0;
    border-left: 0;
    padding-left: 2px;
}



/* =================================================== */

.vertical-separator {
    display:none;
}

.main-area > .z-center-body:first-child {
/*    height: auto !important; */
    width: auto !important;
}

.main-area {
    overflow: auto;
}

.orderslayout-area {
    overflow-y: auto;
}

.orderslayout .z-north {
    border-bottom:1px solid #9ECAD8;
}

.orderelements-tab {
    overflow-x: auto;
}

tr.z-tree-row-seld, tr.z-list-item-seld,
.z-combobox-pp .z-combo-item-seld {
    background-color: #fdd772;
    color: #000000;
}

.timeplot-canvas {
    position:relative;
    overflow:hidden;
 }

.resourcesload .timetrackergap .z-grid-header{
    heigth: 15px;
}

.scheduling-graphics .z-tabs-ver {
    width: 60px !important;
}

.scheduling-graphics .z-tab-ver .z-tab-ver-text {
    white-space: normal;
}

.earned-parameter-column {
    width: 102px;
}

.z-panel-body {
	padding: 10px;
}

.resourcesload .z-west-body .z-tree-header ,
.limitingresources .z-west-body .z-tree-header {
    width: 100% !important;
}

.z-tab-accordion-hm, .z-tab-accordion-hr, .z-tab-accordion-hl {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background: transparent url(../img/borderlayout-hm.png) repeat-x scroll 0 0;
}

.allocation-criterion-selector span.z-dottree-ico,
.allocation-criterion-selector span.z-dottree-line {
    min-height:14px;
}

.timeplot-copyright {
    display: none;
}

.timeplot-grid-label {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    z-index: 2;
    color: transparent;
    font-size:9px;
    font-weight:bold;
}

.migas_linea .scheduling-state {
    -moz-border-radius: 0 6px 0 6px;
    -webkit-border-radius: 0 6px 0 6px;
    border: 1px solid #888888;
    color: #888888;
    font-weight: bold;
    margin: 4px 3px 2px 5px;
    padding: 1px 5px;
    cursor: default;
}

.submenu .z-menu-popup-cnt .z-menu-item-over .z-menu-item-img {
    background-image: url(../img/ico_submenu.png);
}

.advancedallocationlayout .global-action.z-button {
    margin-top: 1px;
}

.help-tooltip {
    cursor: help;
}

.timeTrackedTableWithLeftPane input[value="0"] {
  color: #DDDDDD;
}

/* for horizontal scrolling */
.timeTrackedTableWithLeftPane .z-grid-body table {
   position:relative;
}
.timeTrackedTableWithLeftPane div.z-grid-body {
overflow: visible;
}

.advancedallocationlayout #timeTracker .z-vbox {
    position:relative;
}

.z-button-disd {
    opacity:0.3;
}

.advancedallocationlayout #timeTracker {
    background-color: #CDE6F5;
}

/* Resource allocation*/
.allocation-not-satisfied .resource-allocation tr.z-grid-odd td.z-row-inner, .allocation-not-satisfied tr.z-grid-odd {
    background-color: #EECCCC;
}

.allocation-not-satisfied td.z-row-inner {
    background-color: #EECCCC;
}

.assignedresources .allocation-not-satisfied td.z-row-inner {
    background-color: #EECCCC;
}

.allocation-satisfied .resource-allocation tr.z-grid-odd td.z-row-inner, .allocation-satisfied tr.z-grid-odd {
    background-color: none;
}

.allocation-satisfied td.z-row-inner {
    background-color: none;
}

.assignedresources .allocation-satisfied td.z-row-inner {
    background-color: none;
}

/* Advanced allocation */

.advancedallocationlayout #timeTrackedTableWithLeftPane div.z-grid {
    overflow:auto;
}

.advancedallocationlayout .timetrackergap {
     overflow: visible;
}

.timeTrackedTableWithLeftPane .z-grid-body .z-row-inner {
    background-color: #f9f9f9;
}


.clickable-rows tr.z-row:hover .z-row-inner {
    background-color: #E9F2FB;
}

.clickable-rows tr.z-row:hover .z-row-cnt {
    color: #000000;
}

tr.z-tree-row-seld td.z-row-inner {
    background-color: #2A83B4
}

tr.z-tree-row-seld .z-row-cnt {
    color: #FFFFFF;
}

/* color code for order state */
.order-open-unassigned {
    color: #AACCEE;
}
.order-open-assigned {
    color: #007BBE;
}
.order-closed {
    color: #000000;
}

/* ----------- Limiting Resources window ------- */
.not-workable-hours {
    position:relative;
    z-index: -2;
    top: -1px;
    height: 12px;
    float:right;
    background-color: #CCCCCC;
}

.readonly .z-grid-body .z-row-inner {
    background-color: #CCCCCC;
}

.current-queue-information .z-grid-body {
    overflow: hidden;
}

.z-fieldset legend {
    color:#0F3B82;
}

.z-fieldset {
    border: solid 1px #B1CBD5;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:5px;
}

.tooltip-actions {
    margin-bottom: 10px;
    margin-left: 10px;
}

.projects-list .date {
    width:100px;
}

.projects-list .customer {
    max-width:150px;
}

.z-band-popup td.z-list-cell {
    border-right: dotted 1px #cccccc;
}

.edit-task-window .z-tab-accordion {
display:none;
}

.edit-task-window .z-tabpanel-accordion {
    border:0;
}

.edit-task-window .message_ERROR,
.edit-task-window .message_INFO {
    width:auto;
}


.filtering-area {
    white-space: nowrap;
}

.filter-more-options {
    overflow: visible;
}

.filter-more-options .z-groupbox-body {
    width: 900px;
    left: -780px;
    position: relative;
    background-color: #F0FAFF;
}
.filter-more-options .z-groupbox-body .z-groupbox-cnt {
    border-top: solid 1px #B2CCD9 !important;
}

.filter-more-options .z-groupbox-header {
    margin-top: 0px;
}
.filter-more-options .z-groupbox-br {
    display: none;
}

.filter-more-options .z-groupbox-tl  {
    height: 1px;
}

.filter-more-options .z-groupbox-hl .z-groupbox-header {
    padding-bottom: 1px;
}

.filter-more-options .z-caption .z-caption-l,
.filter-more-options .z-caption .z-caption-r {
    font-size:11px;
}

.filter-more-options .z-groupbox-hl {
    cursor:pointer;
}

#ganttpanel #timetracker {
    overflow: hidden;
}

.second_level_ #watermark .timetracker_column_even,
.second_level_ #watermark .bankHoliday {
    height: 99999px;
}

.calendar-exceptions div.z-grid-body {
    overflow: hidden;
}

/* Expand vertical boxes for non-ffox browsers */
.z-vbox {
    width:100%;
}

.earned-parameter-column .z-label,
.earned-parameter-column .z-checkbox-cnt {
    font-size: 10px;
}
.earned-parameter-column {
    white-space: nowrap;
}

.progress-types.z-combobox {
    position: relative;
    left: -3px;
}

.progress-types {
    margin-left:-10px;
}

.progress-types.z-combobox .z-combobox-inp {
    margin:0;
    padding:0;
    border:0;
    color: transparent;
    background: transparent;
    border: 0;
    border-width: 0;
    outline: none;
    text-indent: -200px;
}

.show-advances img  {
    position:relative;
    left: -8px;
}

.progress-types.z-combobox .z-combobox-img {
    background-image: url(../img/small-combo-arrow.png);
    border: 0;
}
