/*
 * navalpro_zk.css ###PROJECT_NAME###
 *
 * This stylesheet contains declarations for ZK overriden components
 * according to the ZK Style Guides [http://www.zkoss.org/doc/styleguide]
 * to integrate the custom appearance of the web application.
 */

.logo {
    background-image: url("../img/v3/blue_ga.jpg");
    height: 50px;
    width: 300px;
    height: 100px;
    float: left;
    clear: both;
    position: absolute;
}

.headings {
    height: 90px;
}

table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.errorbox {
    margin: 40px;
    padding: 40px;
    border: solid 1px red;
}

/* Forms */
.z-button-tl,.z-button-tm,.z-button-tr,.z-button-cl,.z-button-cr,.z-button-bl,.z-button-bm, .z-button-br, .z-button-br, .z-button-tr
{
/*    display: none; */
}

.icono .z-button-tl,.icono .z-button-tm,.icono .z-button-tr,.icono .z-button-cl,.icono .z-button-cr,.icono .z-button-bl,.icono .z-button-bm,.icono .z-button-br,.icono .z-button-br,.icono .z-button-tr
{
    display: none;
}

.z-button .z-button-tm, .z-button .z-button-bm {
    background-image:url("../img/btn-x.gif");
}

.z-button .z-button-cl, .z-button .z-button-cr {
    background-image:url("../img/btn-y.gif");
}

.z-button .z-button-tl, .z-button .z-button-tr, .z-button .z-button-bl, .z-button .z-button-br {
    background-image:url("../img/btn-corner.gif");
}

.zk .z-button-cm,.z-button-cm {
    color: #007bbe;
    background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #007bbe;
}


.sub_menu .z-button-cm {
    background-color: transparent !important;
    border: 0px;
    color: #EDF2F7;
}

.sub_menu .z-button-cm:hover {
    text-decoration: underline;
}

.vertical_separator {
    width: 14px;
    height: 20px;
    margin-top: 4px;
    background-image: url("../img/sub_separacion.gif");
}

.footer {
    clear: both;
    margin: 20px;
    font-size: 12px;
}

/* ------------- order element tree  -------------  */
.orderTree input {
    height: 18px;
    border-bottom: 0px;
    border-top: 0px;
    font-size: 12px; /* 11px */
    border-left: 1px dotted #7EAAC6;
    padding-left: 2px;
    padding-top: 2px;
}

/* Allows tasknumber span to have fixed width */
.orderTree .tasknumber {
    display: inline-block;
}

.orderTree td {
    padding: 0px !important;
}

/* These constants may be reviewed when testing with 3 digit tasknumbers */
.orderTree .depth_1 input,
.orderTree .depth_2 input,
.orderTree .depth_3 input,
.orderTree .depth_4 input,
.orderTree .depth_5 input,
.orderTree .depth_6 input
{
    width: 460px !important;
    border-right: 0px;
}

/* Cleaning window borders */
.z-window-embedded-tr,.z-window-embedded-tl {
    display: none;
}

.z-window-embedded-hl,.z-window-embedded-hm {
    background-image: none;
}

.z-window-embedded-hr {
    background: none;
}

.z-window-embedded-header {
    color: #009900;
    font-weight: bold;
    font-size: 1.2em;
}


.message_ERROR, .message_INFO {
    padding: 15px;
    margin: 10px;
    width: 300px;
}

.message_WARNING img, .message_ERROR img {
    display: none;
}


.message_ERROR {
    color: #ee0000;
    border: solid 1px #ee0000;
    background-color: #eecccc;
}

.message_WARNING {
    color: #CC5013;
    border: solid 1px #CC5013;
    background-color: #FDCA87;
}

.message_INFO {
    color: #006600;
    border: solid 1px #006600;
    background-color: #cceecc;
}

.message_INFO span {
    position: relative;
    top: -10px;
    left: 10px;
}

.advancedallocationlayout .message_WARNING {
    padding: 3px 20px 3px 20px;
    margin: 0;
    width: auto;
}


.z-window-embedded {
    margin: 10px;
}

/* Hide inner second level embed window titles */
.z-window-embedded
.z-window-embedded
.z-window-embedded
.z-window-embedded-hl {
    display: none;
}

.subtitulo {
    color: #007bbe;
    font-weight: bold;
}

/* ------ Overridden norrmoz.css.dsp styles ------ */
.z-label,.z-radio-cnt,.z-checkbox-cnt,.z-slider-pp,input.button,input.file,.z-loading,.z-errbox
    {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.z-word-wrap {
    word-wrap: normal;
}

.z-word-wrap .z-auxheader-cnt {
    word-wrap: normal;
}

.z-window-embedded-tl,.z-window-highlighted-tl,.z-window-overlapped-tl,.z-window-popup-tl
    {
    background: none;
}

.z-window-embedded-tl {
    background-image: none;
}

.z-window-popup-tl {
    background-image: none;
}

.z-window-embedded-tr,.z-window-highlighted-tr,.z-window-overlapped-tr,.z-window-popup-tr
    {
    background: none;
}

.z-window-embedded-tr {
    background-image: none;
}

.z-window-popup-tr {
    background-image: none;
}

.z-window-embedded-hl,.z-window-highlighted-hl,.z-window-overlapped-hl,.z-window-popup-hl
    {
    background: none;
}

.z-window-embedded-hl {
    background-image: none;
}

.z-window-popup-hl {
    background-image: none;
}

.z-window-embedded-hr,.z-window-highlighted-hr,.z-window-overlapped-hr,.z-window-popup-hr
    {
    background: none;
    /*padding-right:6px; */
}

.z-window-embedded-hr,.z-window-embedded-hr-noborder {
    background-image: none;
}

.z-window-popup-header,.z-window-highlighted-header,.z-window-overlapped-header,.z-window-embedded-header
    {
    background-color: #FFFFFF;
    color: #48AB48;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

.z-button {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.z-window-embedded .z-button-cm,.z-window-modal .z-button-cm {
    background-color: #58A758;
    background-image: none;
    /* border: 1px solid #006700; */
    border: 0;
    color: #FFFFFF;
    padding: 2px 18px;
}

.z-window-embedded .icono .z-button-cm,.z-window-modal .icono .z-button-cm
    {
    color: #007bbe;
    background-color: transparent;
    background-image: none;
    border: 0px solid #007bbe;
    padding: 0px;
}

table.z-button {
    table-layout: auto;
}

button.z-button {
    position: relative;
    top: -5px;
}

.z-tabs-scroll .z-tabs-cnt {
    background: #FAFDFE none repeat scroll 0 0;
    border-bottom: 1px solid #7EAAC6;
    padding-bottom: 0;
}

.z-textbox,.z-decimalbox,.z-intbox,.z-longbox,
.z-doublebox, .z-datebox,  .z-datebox-inp, .z-datebox-focus .z-datebox-inp {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.leftpanelgap .z-textbox,.leftpanelgap .z-decimalbox,.leftpanelgap .z-intbox,
.leftpanelgap .z-longbox,.leftpanelgap .z-doublebox,.leftpanelgap .z-datebox,
.leftpanelgap .z-datebox-inp,.leftpanelgap .z-datebox-focus .z-datebox-inp {
    font-size: 11px;
}

div.z-footer-cnt,div.z-row-cnt,div.z-group-cnt,div.z-group-foot-cnt,div.z-column-cnt {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.z-word-wrap div.z-tree-cell-cnt,.z-word-wrap div.z-tree-footer-cnt,.z-word-wrap div.z-tree-col-cnt
    {
    word-wrap: normal;
}

.z-tabs .z-tabs-cnt {
    background: none;
    border-bottom: 0px;
    border-bottom: 1px solid #7EAAC6;
}

.z-tabs-scroll {
    padding-bottom: 0px;
    background: #F2FBFF none repeat scroll 0 0;
    border: 0px solid #000000;
}

.z-tab .z-tab-text {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tab-seld .z-tab-text { /* color:#0F3B82; */
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tabpanel,.z-tabbox-ver .z-tabpanels-ver {
    padding: 5px;
    border-bottom: 1px solid #7EAAC6;
}

.message_INFO {
    background-color: #CCEECC;
    border: 1px solid #006600;
    color: #006600;
    margin: 10px;
    padding: 15px 15px 15px 50px;
    width: 300px;
}

div.z-grid {
    background: #DAE7F6 none repeat scroll 0 0;
    border: 1px solid #ABC6DE;
    overflow: hidden;
}

.z-listbox .z-textbox,.z-listbox .z-decimalbox,.z-listbox .z-intbox,.z-listbox .z-longbox,.z-listbox .z-doublebox
{
/*    width: 100%; */
    height: 22px;
    vertical-align:center;
    border-collapse: collapse;
}

.orderTree .z-textbox,.orderTree .z-decimalbox,
.orderTree .z-intbox,.orderTree .z-longbox,
.orderTree .z-doublebox {
    height: 25px;
    width: 100%;
}

.listdetails .z-textbox, .listdetails .z-decimalbox,
.listdetails .z-intbox, .listdetails .z-longbox,
.listdetails .z-doublebox {
    height: 17px;
}

.z-tree .z-datebox-inp {
    height:25px;
}

.orderTree .operations {
    min-width:150px;
}

.orderTree .name {
    min-width:140px;
}

.orderTree .hours {
    min-width:50px;
}
.orderTree .code {
    min-width:100px;
}
.orderTree .scheduling_state {
    min-width:260px;
}

.orderTree .tasknumber {
    display:none;
}


.orderTree div.z-tree-cell-cnt {
    padding:0px;
}

.orderTree td {
    border-bottom: 1px dotted #7EAAC6;
}

.orderTree .icono td {
    border:none;
}



.orderelements-tab .z-datebox-focus .z-datebox-inp  {
    border-top: 0px;
    border-bottom: 0px;
}

.orderelements-tab .z-datebox-focus .z-datebox-inp,
.orderelements-tab .z-datebox-inp {
    width: 114px;
}

.orderelements-tab .z-datebox .z-datebox-img {
    background-color: #DAE7F6;
}

.listdetails .z-datebox-focus .z-datebox-inp  {
    border-top: 0px;
    border-bottom: 0px;
    height: 17px;
    font-size: 11px !important;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.advance-measurement {
    width: 340px;
}

.assignedresources .icono .z-button-tr,
.assignedresources .icono td.z-button-br {
    display:none;
}

.assignedresources .z-listbox input {
    height: 17px !important;
}

/* Highlight advancedallocation grouping row */
.resourcesload .taskspanelgap .z-grid-body tr:first-child {
    background-color: #E8E8E8;
}
.resourcesload .taskspanelgap .z-grid-body tr.z-row td {
    background-color:transparent;
}

/* ------- Chart legends  ------- */
.legend {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px #000000;
    padding: 10px 30px 10px 30px;
    background-color: #FFFFFF;
}

.legend td {
    vertical-align:bottom;
}

.legend .title {
    display:block;
    font-weight:bold;
    margin-bottom: 5px;
}

.legend-row {
    margin:2px;
}

.legend-gap {
    background-color: #E8E8E8;
}

.legend .capability {
    border-top:solid 1px #FF0000;
    height:7px;
    width:25px;
    margin-right:5px;
}

.legend .load {
    background-color:#0000FF;
    height:10px;
    width:25px;
    margin-bottom:2px;
    margin-right:5px;
}

.legend .overload {
    border-top:solid 1px #00FF00;
    height:7px;
    width:25px;
    margin-right:5px;
}

.legend .overload-order {
    border-top:solid 1px #00FFFF;
    height:7px;
    width:25px;
    margin-right:5px;
}

.legend .overload-other {
    border-top:solid 1px #FFFF00;
    height:7px;
    width:25px;
    margin-right:5px;
}

.legend .other {
    background-color:#00FF00;
    height:10px;
    width:25px;
    margin-bottom:2px;
    margin-right:5px;
}

.legend .resourceload {
    height:10px;
    width:25px;
    margin-bottom:2px;
    margin-right:5px;
}


/* Graphical improvements */

.z-panel-header {
    background:none;
    border: 0px;
    margin:0px 0px 0 10px
}

.z-panel-body {
    background:none;
    border: 1px solid #B1CBD5;
    margin:0 10px 0px 10px;
}

.z-panel-children {
    border-style: none none none;
}

div.z-grid-pgi-b,
div.z-listbox-pgi-b {
    border-top:none;
}

.z-dottree-body .tasknumber {
    /* Pending removal from the code */
    display:none;
}

.z-dottree-body .not-scheduled span,
.z-dottree-body .partially-scheduled span,
.z-dottree-body .completely-scheduled span {
    float:left;
    padding-right:2px;
}

.z-dottree-body .not-scheduled,
.z-dottree-body .partially-scheduled,
.z-dottree-body .completely-scheduled {
    border-bottom:dotted #EEEEEE 1px;
}

.partially-scheduled {
    background-color: #fddf9b;
}

.completely-scheduled {
    background-color: #bee5a9;
}

span.z-dottree-ico, span.z-dottree-line {
    min-height:22px;
}