/*
 * navalpro_zk.css ###PROJECT_NAME###
 *
 * This stylesheet contains declarations for ZK overriden components
 * according to the ZK Style Guides [http://www.zkoss.org/doc/styleguide]
 * to integrate the custom appearance of the web application.
 */

.logo {
    background-image: url("../img/v3/blue_ga.jpg");
    height: 50px;
    width: 300px;
    height: 100px;
    float: left;
    clear: both;
    position: absolute;
}

.headings {
    height: 90px;
}

table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.errorbox {
    margin: 40px;
    padding: 40px;
    border: solid 1px red;
}

/* Forms */
.z-button-tl,.z-button-tm,z-button-tr,.z-button-cl,.z-button-cr,.z-button-bl,.z-button-bm,z-button-br
    {
    display: none;
}

.zk .z-button-cm,.z-button-cm {
    color: #007bbe;
    background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #007bbe;
}

.zk .z-button,.zk .z-button-br,.zk .z-button-tr {
    background-image: none;
}

.z-button-tr {
    background-image: none !important;
}

.z-button-br {
    background-image: none !important;
}

.sub_menu .z-button-cm {
    background-color: transparent !important;
    border: 0px;
    color: #EDF2F7;
}

.sub_menu .z-button-cm:hover {
    text-decoration: underline;
}

.vertical_separator {
    width: 14px;
    height: 20px;
    margin-top: 4px;
    background-image: url("../img/sub_separacion.gif");
}

.footer {
    clear: both;
    margin: 20px;
    font-size: 12px;
}

/* ------------- order element tree  -------------  */
.orderTree input {
    height: 18px;
    border-bottom: 0px;
    font-size: 12px;
}

/* Allows tasknumber span to have fixed width */
.orderTree .tasknumber {
    display: inline-block;
}

.orderTree td {
    padding: 0px !important;
}

/* These constants may be reviewed when testing with 3 digit tasknumbers */
.orderTree .depth_1 input {
    width: 460px !important;
}

.orderTree .depth_2 input {
    width: 430px !important; /* prev - 30 px */
}

.orderTree .depth_3 input {
    width: 400px !important; /* prev - 30 px */
}

.orderTree .depth_4 input {
    width: 370px !important; /* prev - 30 px */
}

.orderTree .depth_5 input {
    width: 340px !important; /* prev - 30 px */
}

.orderTree .depth_6 input {
    width: 310px !important; /* prev - 30 px */
}

.orderTree .depth_1 .tasknumber {
    width: 25px;
}

.orderTree .depth_2 .tasknumber {
    width: 37px; /* prev + 12 px */
}

.orderTree .depth_3 .tasknumber {
    width: 49px; /* prev + 12 px */
}

.orderTree .depth_4 .tasknumber {
    width: 61px; /* prev + 12 px */
}

.orderTree .depth_5 .tasknumber {
    width: 73px; /* prev + 12 px */
}

.orderTree .depth_6 .tasknumber {
    width: 85px; /* prev + 12 px */
}

/* Cleaning window borders */
.z-window-embedded-tr,.z-window-embedded-tl {
    display: none;
}

.z-window-embedded-hl,.z-window-embedded-hm {
    background-image: none;
}

.z-window-embedded-hr {
    background: none;
}

.z-window-embedded-header {
    color: #009900;
    font-weight: bold;
    font-size: 1.2em;
}

.message_ERROR {
    color: #ee0000;
    padding: 15px;
    border: solid 1px #ee0000;
    background-color: #eecccc;
    margin: 10px;
    width: 300px;
}

.message_INFO {
    color: #006600;
    padding: 15px;
    border: solid 1px #006600;
    background-color: #cceecc;
    margin: 10px;
    width: 300px;
}

.message_INFO span {
    position: relative;
    top: -10px;
    left: 10px;
}

.z-window-embedded {
    margin: 10px;
}

/* Hide inner second level embed window titles */
.z-window-embedded
.z-window-embedded
.z-window-embedded
.z-window-embedded-hl {
    display: none;
}

.subtitulo {
    color: #007bbe;
    font-weight: bold;
}

/* ------ Overridden norrmoz.css.dsp styles ------ */
.z-label,.z-radio-cnt,.z-checkbox-cnt,.z-slider-pp,input.button,input.file,.z-loading,.z-errbox
    {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.z-word-wrap {
    word-wrap: normal;
}

.z-word-wrap .z-auxheader-cnt {
    word-wrap: normal;
}

.z-window-embedded-tl,.z-window-highlighted-tl,.z-window-overlapped-tl,.z-window-popup-tl
    {
    background: none;
}

.z-window-embedded-tl {
    background-image: none;
}

.z-window-popup-tl {
    background-image: none;
}

.z-window-embedded-tr,.z-window-highlighted-tr,.z-window-overlapped-tr,.z-window-popup-tr
    {
    background: none;
}

.z-window-embedded-tr {
    background-image: none;
}

.z-window-popup-tr {
    background-image: none;
}

.z-window-embedded-hl,.z-window-highlighted-hl,.z-window-overlapped-hl,.z-window-popup-hl
    {
    background: none;
}

.z-window-embedded-hl {
    background-image: none;
}

.z-window-popup-hl {
    background-image: none;
}

.z-window-embedded-hr,.z-window-highlighted-hr,.z-window-overlapped-hr,.z-window-popup-hr
    {
    background: none;
    /*padding-right:6px; */
}

.z-window-embedded-hr,.z-window-embedded-hr-noborder {
    background-image: none;
}

.z-window-popup-header,.z-window-highlighted-header,.z-window-overlapped-header,.z-window-embedded-header
    {
    background-color: #FFFFFF;
    color: #48AB48;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: normal;
}

.z-button {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.z-window-embedded .z-button-cm,.z-window-modal .z-button-cm {
    background-color: #58A758;
    background-image: none;
    border: 1px solid #006700;
    color: #FFFFFF;
    padding: 2px 18px;
}

.z-window-embedded .icono .z-button-cm,.z-window-modal .icono .z-button-cm
    {
    color: #007bbe;
    background-color: transparent;
    background-image: none;
    border: 0px solid #007bbe;
    padding: 0px;
}

table.z-button {
    table-layout: auto;
}

button.z-button {
    position: relative;
    top: -5px;
}

.z-tabs-scroll .z-tabs-cnt {
    background: #FAFDFE none repeat scroll 0 0;
    border-bottom: 1px solid #7EAAC6;
    padding-bottom: 0;
}

.z-textbox,.z-decimalbox,.z-intbox,.z-longbox,.z-doublebox, .z-datebox {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

div.z-footer-cnt,div.z-row-cnt,div.z-group-cnt,div.z-group-foot-cnt,div.z-column-cnt
    {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.z-word-wrap div.z-tree-cell-cnt,.z-word-wrap div.z-tree-footer-cnt,.z-word-wrap div.z-tree-col-cnt
    {
    word-wrap: normal;
}

.z-tabs .z-tabs-cnt {
    background: none;
    border-bottom: 0px;
    border-bottom: 1px solid #7EAAC6;
}

.z-tabs-scroll {
    padding-bottom: 0px;
    background: #F2FBFF none repeat scroll 0 0;
    border: 0px solid #000000;
}

.z-tab .z-tab-text {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tab-seld .z-tab-text { /* color:#0F3B82; */
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.z-tabpanel,.z-tabbox-ver .z-tabpanels-ver {
    padding: 5px;
    border-bottom: 1px solid #7EAAC6;
}

.message_INFO {
    background-color: #CCEECC;
    border: 1px solid #006600;
    color: #006600;
    margin: 10px;
    padding: 15px 15px 15px 50px;
    width: 300px;
}

div.z-grid {
    background: #DAE7F6 none repeat scroll 0 0;
    border: 1px solid #ABC6DE;
    overflow: hidden;
}

.z-listbox .z-textbox,.z-listbox .z-decimalbox,.z-listbox .z-intbox,.z-listbox .z-longbox,.z-listbox .z-doublebox
{
    width: 100%;
    height: 22px;
    vertical-align:center;
    border-collapse: collapse;
}

/*
.z-window-embedded .icono .z-button-cm,.z-window-modal .icono .z-button-cm {
    display:none;
} */

.z-tree .z-textbox,.z-tree .z-decimalbox,.z-tree .z-intbox,.z-tree .z-longbox,.z-tree .z-doublebox
{
    height: 17px;
}