/*
 * ganttz.css Ganttz specific styles
 *
 * The purpose of this stylesheet is to declare custom classes and objects
 * will be positioned inside scheduler components.
 * It might contain references to ZK Style Guides [http://www.zkoss.org/doc/styleguide]
 * if needed within the scheduler.
 */

/*
    The next constants are used within the planner styling:

    Ganntz.ListdetailsWidth = 280

    zkTasklist.HEIGHT_PER_TASK = 10
    zkTasklist.HEIGHT_PER_ROW = 15
    zkTasklist.HEIGHT_TIME_TRACKER = 120

    zkTasklist.SCROLLBAR_WIDTH = 15

    zkTasklist.SCROLL_CONTAINER_INITIAL_HEIGHT = 500
    zkTasklist.SCROLL_CONTAINER_INITIAL_WIDTH = 600

    zkTasklist.GANTT_PANEL_LEFT = 300

*/

/* -------------- Listdetails -------------- */
    /* External listdetails box */
.listdetails {
    margin-top: 0px;
    font-size: 10px !important;
    margin-top: 0px;
}

#listdetails_container {
    position: relative;
}

.listdetails img {
    display: none;
}

#listdetails_container td {
    border-bottom: 1px solid #86A4BE;
    border-left: 1px solid #86A4BE;
    border: 0px;
}

#listdetails_container td {
    padding: 0px;
}

.listdetails input {
    width: 65px;
    font-size: 10px !important;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    border-left: 1px dotted #86A4BE;
    height: 16px;
    padding-left:2px;
}

#listdetails_container .z-datebox-inp,
#listdetails_container div.z-tree-col-cnt {
    font-size: 9px !important;
    border-bottom: 0px;
    border-right: 0px;
}

.listdetails input
.listdetails input {
    min-width: 90px;
    height: 19px;
}

.listdetails .depth_1 input.task_title {
    width: 121px;
}

.listdetails .depth_2 input.task_title {
    width: 104px;
}

.listdetails .depth_3 .task_title {
    width: 85px;
}

.listdetails .depth_4 .task_title {
    width: 64px;
}

.listdetails {
min-width:200px;
}

.listdetails div.z-tree-header th.z-tree-col {
    overflow:visible;
}

.taskdetail_grid table {
    height: 30px;
    width: 285px; /* Ganntz.ListdetailsWidth */
}

#listtasks {
    position: relative;
    width: 100%;
    top: 0px;
}

/* Task box properties */
.box {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;
}

/* Task lane properties */
.row {
    height: 12px;
    border-bottom: dotted 1px #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

/* -------------- Dependencies -------------- */
#listdependencies {
    position: relative;
    width: 400px;
    float: left;
    top: 0px;
}

.dependence {
    position: absolute;
}

.end,.start,.mid,.arrow {
    position: absolute;
    padding: 4px;
    cursor: crosshair;
    z-index:-1;
}

.end,.start {
    height: 1px;
}

.mid {
    width: 1px;
}

.completion {
    width: 0%;
    margin-top: 0px;
    height: 5px; /* zkTasklist.HEIGHT_PER_TASK / 2 */
    background-color: #FFCC99;
    border: 0px;
}

.completion2 {
    width: 0%;
    height: 5px; /* zkTasklist.HEIGHT_PER_TASK / 2 */
    background-color: #75d9b0;
    border: 0px;
}

.taskgroup_start,.taskgroup_end {
    position: relative;
    top: -10px; /* zkTasklist.HEIGHT_PER_TASK */
}

.row span {
    display: none;
    position: relative;
    color: #BBBBBB;
    white-space: nowrap;
}

/* -------------- TaskGroup -------------- */
.taskgroup_start {
    background-image:
        url("/navalplanner-webapp/zkau/web/ganttz/img/group_left.png");
    height: 10px;
    width: 10px;
    float: left;
}

.taskgroup_end {
    background-image:
        url("/navalplanner-webapp/zkau/web/ganttz/img/group_right.png");
    height: 10px;
    width: 10px;
    float: right;
}

.taskgroup,.row .expanded {
    border-top: solid black 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent !important;
}

.milestone_end {
    background-image:
        url("/navalplanner-webapp/zkau/web/ganttz/img/milestone.png");
    height: 15px;
    width: 15px;
    float: right;
    position:relative;
    left: 7px;
    top: -12px;
}

.row .closed {
    border-top: solid black 2px;
}

.zk #ganttpanel .z-button-cm {
    border: 0px;
}

#ganttpanel {
    height: 400px; /* 800 */
    width: 100%
}

#ganttpanel table {
    float: left;
    padding: 0;
    margin: 0;
}

#ganttpanel table td {
    padding: 0;
}

/* -------------- Timetracker -------------- */
.timetracker_fake_row {
    height: 80px;
}

/* Forces every zoom level the same table width */
#timetracker table {
    border-collapse: collapse;
}

#timetrackerheader table {
    border-collapse: collapse;
}

#timetracker .second_level_ tr {
    height: 14px;
}

/* Watermark alternate row color */
#watermark .timetracker_column_even {
    background-color: #EEEEEE;
}

/* Background image for current day vertical line */
#watermark .timetracker_column_today {
    background-image:
        url("/navalplanner-webapp/zkau/web/ganttz/img/watermark_today.png")
        ;
    background-repeat: repeat-y;
}

#watermark .bankHoliday {
    background-color: #FFEEEE !important;
}

#watermark .weekend {
    background-color: #FFEEEE !important;
}

/* Reduce spacing and font-size for watermark legend */
.z-columns,.z-column {
    font-size: 8px !important;
    text-align: center;
    padding: 0 0 0 0 !important;
}

table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#scroll_container {
    margin-top: 0px;
    float: left;
    position: absolute;
}

#timetracker { /* border: solid 1px red; */
    position: absolute;
    float: left;
    z-index: -20;
}

.resourcesload #timetracker {
    position: absolute;
    left: 0px;
    top: 0px;
    height: auto; width : 600px;
    overflow-x: visible;
    width: 600px;
}

#zoom_buttons {
    position: relative;
}

#zoom_buttons .z-button-cm {
    border: 0px;
}

#zoom_buttons td.z-hbox-sep {
    width: 0px;
}

tr.z-vbox-sep {
    height: 0px;
    padding: 0px;
    margin: 0px;
}

#ganttpanel_scroller_x,#ganttpanel_scroller_y {
    position: absolute;
    float: left;
    overflow: auto;
    display:none;
}

#ganttpanel_scroller_x {
    top: 600px; /* (dynamic) */
    left: 285px; /* Ganntz.ListdetailsWidth + borders = 280 + 5 */
    width: 635px;
    height: 15px;
}

#ganttpanel_inner_scroller_x {
    width: 9000px; /* Real canvas dimensions */
    height: 15px; /* Scroll constant */
}

#ganttpanel_scroller_y {
    top: 145px; /* Fixed top position */
    left: 920px;
    width: 15px;
    height: 330px;
}

#ganttpanel_inner_scroller_y {
    width: 15px; /* Scroll constant */
    height: 1350px;
    /* Modified when added or removed tasks, or zoom adjustments */
}

.footer { /* Pending to calculate general position */
    display: none;
}

/* Hidden at the beginning to avoid the first scalation effect */
#ganttpanel_scroller_x {
    display: none;
}

#ganttpanel_scroller_y {
    display: none;
}

/*  ----------- Advanced resources assignment ------------ */
.timetrackedTableWithLeftPane {
    width: 1000px;
}

.leftPaneOfTimeTrackedTable {
    margin-top: 45px;
    width: 390px;
    float: left;
}

#timetrackedtable {
    float: right;
    width: 600px;
    /* overflow: auto; */
}

.advancedallocationlayout #timetrackedtable {
    float: none;
    width: auto;
    overflow: visible;
}

/* ----------- ResourcesLoad ----------------- */
.taskassignmentinterval {
    float: left;
    height: 10px;
    position: absolute;
}

.FULL_LOAD {
    background-color: green;
}

.SOME_LOAD {
    background-color: orange;
}

.OVERLOAD {
    background-color: red;
}

.NO_LOAD {
    background-color: #007bbe;
}

.row_resourceload {
    height: 10px;
    border: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px dotted #CCCCCC;
}

.resourceload_name {
    display: none;
}

.resourceloadleftpane {
    border: 1px;
    margin-top: 0px;
    min-width: 125px;
}

.resourceloadleftpane .secondlevel {
    display: inline;
}

/* -- Upper taskpannel is hidden --*/
.taskspanelgap #timetracker {
    border-top: 0px;
    margin: 0px;
}

.resourcesload .taskspanelgap #timetracker table {
    margin-top: -10px;
}

.resourcesload .taskspanelgap #timetracker th {
    display: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.taskspanelgap #zoom_buttons {
    display: none;
    margin: 0px;
}

#ganttpanel #timetracker th {
    display:none;
}
#ganttpanel #timetracker {
    margin-top:-20px;
}

#timetrackerheader table {
    border-collapse: collapse;
}

.resourceloadleftpane div.z-tree-cell-cnt {
    paddding-top: 2px;
    border-bottom: 1px dotted #CCCCCC;
}

.resourceloadleftpane div.z-tree-body td.z-tree-cell {
    padding: 0px;
}

.resourceloadleftpanetitle {
    height: 40px;
}

.resourceloadleftpane .z-tree-body {
    z-index: -10;
}

.leftpanelgap .z-tree-body {
    z-index: 2;
}

.leftpanelgap .z-tree-header {
    z-index: 16;
}

.leftpanelgap .resourceloadleftpane {
    background: none;
    border: 0px;
}

.resourceloadlist {
    margin-top: 15px;
}

.timetrackergap #zoom_buttons {
    display:none;
}

.timetrackergap {
    position: relative;
}

.tree-datecolumn {
    width: 100px;
}

.tree-text {
    width: 150px;
}

.listdetails div.z-tree-cell-cnt {
    padding: 0px;
}

div.z-tree {
    overflow:visible;
}

.listdetails td {
    border-bottom: 1px dotted #86A4BE !important;
}

.plannerlayout, .resourcesloadlayout, .advancedallocationlayout {
    height:550px;
}

.task_tooltip {
    display:none;
    font-size: 10px;
    position: relative;
    top: -40px;
    width: 240px;
    background-color: #f7f7bf;
    border: solid 1px #CCCCCC;
    /*z-index: 5; */
}

.advancedallocationlayout .name {
    min-width:200px;
}

.advancedallocationlayout .second_level_ {
    border-collapse: collapse;
}

.taskspanelgap table {
    border-collapse: collapse;
}

.taskspanelgap input {
    border: 0;
    height: 19px;
}

.advancedallocationlayout .leftpanelgap .z-grid-header {
    padding-bottom: 3px;
    border-bottom: solid 1px #DDDDDD;
    background: #FFFFFF;
}

.advancedallocationlayout div.z-row-cnt {
    padding: 0;
}

.advancedallocationlayout .leftpanelgap td.z-row-inner {
    padding-top:0;
    padding-bottom:0;
}

.advancedallocationlayout .leftpanelgap input {
    height:19px;
}


#tasksTree div.z-tree-header, #tasksTree div.z-tree-header tr, #tasksTree div.z-tree-footer {
    overflow:visible;
}

#listdetails_container div.z-tree-body,
#listdetails_container div.z-dottree-body,
#listdetails_container div.z-filetree-body, #listdetails_container div.z-vfiletree-body {
    overflow:visible;
}

.listdetails th {
    display:visible;
    margin-top:10px;
}

.listdetails {
    position:relative;
    top:-18px;
}

.plannerlayout div.z-tree, .plannerlayout div.z-grid,
.resourcesload div.z-tree, .resourcesload div.z-grid {
    border: 0;
}

#timetrackerheader table {
    height:15px;
}

#timetrackerheader .z-grid-body {
    display:none;
}

.taskheaderscontainer, .leftpanelgap, .plannergraph div,
.resourcesloadgraph div {
    position:relative;
}