/****
   Base stylesheet used for printing, to which
   height, with and label parameters had to be added
   as CutyCapt does not allow to use @import directive
*******/

/* ------ Hide non printable elements ------ */
body div.scheduling-graphics {
    height: 0px !important;
    display: none !important;
}

body .perspectives-column {
    display: none !important;
}

body .mainmenu, body .user-area, body .help-link {
    display: none !important;
}

body .footer {
    display: none !important;
}

/* ------ Remove scrolls  ------ */
.leftpanelcontainer {
    overflow: hidden !important;
}

.rightpanellayout .z-center-body {
    overflow: hidden !important;
}

#ganttpanel_scroller_x, #ganttpanel_scroller_y {
    overflow: hidden !important;
}

.main-area, .orderslayout-area, .orderelements-tab, #timetrackedtable,
.plannerlayout .taskspanelgap #timetracker, .leftpanelcontainer {
    overflow: hidden !important;
}

/* ------ Reposition main-area  ------ */
body .main-area {
    margin-left: 0;
    margin-top: -32px;
}

/* ------ Hide possible Javascript execution exceptions  ------ */
#zk_err_1 {
    display: none;
}

/* Hack for hiding breadcrumbs part in printed diagrams */
a.ruta,
.ruta tr td,
.ruta tr td+td,
.ruta tr td+td+td {
    display:none;
}

.ruta tr td+td+td+td+td+td {
    font-size: 20px;
    display: inline !important;
}


.border-container .taskgroup_start,
.border-container .taskgroup_end {
    margin-top: 6px;
    repeat-y: none;
}

#listtasks .milestone_end {
    margin-top: 8px;
    repeat-y: none;
}

.main-area .taskdetailsContainer {
    overflow-x: hidden !important;
}

.z-south-colpsd {
    display:none;
}

/* ------ Calculated body width and height added via CutyPrint CSS generator ------ */
