/* Planificator specific styles

The next constants are used within the planner styling:

LISTDETAILS_W = 280

HEIGHT_PER_ROW = 15;
HEIGHT_TIME_TRACKER = 120;



*/



/****** Tasks and dependencies ******/
.listdetails {
    width:280px; /* LISTDETAILS_W */
    float:left;
    margin-top:  0px;
    border-bottom: 1px solid #86A4BE;
   font-size:10px !important;
    margin-top:0px;
}

.listdetails img {
    display:none;
}

.listdetails td {
    padding-left:0px;
}

.listdetails input {
   width: 80px;
   font-size:10px !important;
   border-bottom:0px;
   border-right:0px;
   height:17px;
}

.listdetails .z-datebox-inp {
   font-family:"Verdana,Tahoma,Arial,Helvetica,sans-serif";
   font-size:10px !important;
   border-bottom:0px;
   border-right:0px;
}

.task_title {
   width: 120px !important;
}

.taskdetail_grid table {
    height:30px;
    width:280px; /* LISTDETAILS_W */
}


#listtasks {
    position:relative;
    width:600px;
    top:0px;
}

/* Task box properties */
.yui-resize, .box {
    border: 1px solid;
    text-align:center;
    vertical-align: middle;
    z-index:10;
    cursor: pointer;
    cursor: hand;
}

/* Task lane properties */
.row {
    height: 9px; /* 19 */
    border-bottom: dotted 1px #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1800px;
}

/* ---------- TaskGroup --------- */
.taskgroup_start {
    background-image: url("/navalplanner-webapp/zkau/web/ganttz/img/group_left.png");
    height: 10px;
    width: 10px;
    float:left;
}

.taskgroup_end {
    background-image: url("../../zkau/web/ganttz/img/group_right.png");
    height: 10px;
    width: 10px;
    float:right;
}

.taskgroup {
    border-top: solid black 2px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent !important;
}

/****** Dependencies *******/
#listdependencies {
    position:relative;
    width:400px;
    float:left;
    top:0px;
}

.dependence {
    z-index:1;
    position: absolute;
}

.end, .start, .mid, .arrow {
    position:absolute;
    padding:4px;
    cursor: crosshair;
}

.end, .start {
    height:1px;
}

.mid {
    width:1px;
}

.completion {
    display: none;
    width: 30%;
    margin-top:0px;
    height: 10px;
    background-color: #FFCC99;
    z-index:5;
    border:0px;
}

.row span {
    display:none;
    position:relative;
    z-index:5;
    color:#BBBBBB;
    white-space:nowrap;
}

.zk #ganttpanel .z-button-cm {
    border: 0px;
}


/* Width: ganttpanel constant,
Height: is recalculated on number of tasks */
#ganttpanel {
    height:400px; /* 800 */
    width: 900px;
}


#ganttpanel table {
    float:left;
    padding:0;
    margin:0;
    overflow:hidden;
}

#ganttpanel table td {
    padding:0;
}

.fake_column.timetracker_column_even {
    background-color: #EEEEEE;
}

.timetracker_fake_row {
    height: 80px;
}

table {
    margin:0px;
    padding:0px;
    border:0px;
}


#listdetails_container {
    float:left;
    overflow:hidden;
    height:300px;
    position:relative;
    top:50px;
    overflow: hidden;
    border-bottom: 1px solid #86A4BE;
    border-right: 1px solid #86A4BE;
}



#scroll_container {
    margin-top:70px;
/*    border:solid green 1px; */
    height:300px; /* Recalculate based on window */
    width:500px; /* Recalculate based on window */
    overflow:hidden;
    float:left;
    position:absolute;
    left:300px;

}

#timetracker {
    position:absolute;
    left:300px;
        width:600px;
        height:400px;
        position:absolute;
        overflow-x:hidden;
        float:left;
/*        border: solid 1px red; */
    }


#ganttpanel_scroller_x, #ganttpanel_scroller_y {
    position:absolute;
    float:left;
    overflow:auto;
}

#ganttpanel_scroller_x {
    top: 600px;  /* Calculate initial settings */
    left: 280px;
    width:635px;
    height:15px;
}

#ganttpanel_inner_scroller_x {
       /* must be resized on ganttpanel javascript adjust size */
        width:1900px; /* Real canvas dimensions */
        height:15px; /* Scroll constant */
}

#ganttpanel_scroller_y {
    top: 270px; /* Calculate initial settings */
    left: 920px;
    width:15px;
    height:330px;
}
#ganttpanel_inner_scroller_y {
        width:15px; /* Scroll constant */
        height:1350px; /* Modified when added or removed tasks, or zoom adjustments */
}
